@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300&display=swap');

*{ 
  border: 0; 
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}

body{
  background-color: antiquewhite;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root{
  width: 95vw;
  display: flex;
  justify-content: space-evenly;
}

.card{
  width: 250px;
  height: 150px;
  background-color: rgb(91, 91, 91);
  border-radius: 7px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 4px 2px 6px 1px #a0a0a0;
}

.explanation{
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img{
  width: 115px;
  height: 115px;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 2px 2px 5px 0.2px #787878;
}

h1{
  font-size: 23px;
}

h2{
  font-size: 18px;
}